<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Free CRM Applicaton Test Automation Suite">


<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name= "Free CRM App Test">	
		<classes>

				<class name= "com.crm.qa.testcaes.LoginPageTest"/>
				<class name= "com.crm.qa.testcaes.HomePageTest"/>
				<class name= "com.crm.qa.testcaes.ContactsPageTest"/>



		</classes>

	</test>

</suite>